node_modules/

# dependencies
/node_modules

# environment variables
.env

# production build
/build

# misc
.DS_Store
Thumbs.db

# editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
